@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}